@using FindHikingFellow.Infrastructure.Data.Models.Enumerations;
@model FindHikingFellow.Core.Models.Tour.TourFormModel

@{
    ViewData["Title"] = "Edit tour";
}

<partial name="_TourFormPartial" />

@section Scripts {
    <script>
        var keyPointIndex = 0;
        function AddMoreKeyPoints() {
            $("#KeyPointsContainer").
                append("<div >Name: <input type='text' name='KeyPoints[" + keyPointIndex + "].KeyPointName' /> </div>");
            keyPointIndex++;
        }
    </script>
}
