@using FindHikingFellow.Core.Models.Tour
@model MyToursServiceModel

@{
    ViewData["Title"] = "My Tours";
}

<h3 class="text-center">@this.ViewData["Title"]</h3>
@if (!Model.Organised.Any() && !Model.Joined.Any())
{
    <h4 class="text-center">You have no tours yet!</h4>
}
<h4 class="text-center">Organised</h4>
@if (!Model.Organised.Any())
{
    <h5>You have not organized any tour yet.</h5>
}
else
{
    <partial name="_TourPartial" model="@Model.Organised" />
}
<br />
<h4 class="text-center">Joined</h4>
@if (!Model.Joined.Any())
{
    <h5>You have not joined any tours at the moment.</h5>
}
else
{
    <partial name="_TourPartial" model="@Model.Joined" />
}

