@using FindHikingFellow.Core.Models.Tour
@model IEnumerable<TourServiceModel>

@{
    ViewData["Title"] = "Destination Tours";
}

@if (@Model.Select(t => t.Destination).FirstOrDefault() == null)
{
    <h3 class="text-center">There are no tours for the chosen destination</h3>
}
else
{
    <h3 class="text-center">Tours in @Model.Select(t => t.Destination).FirstOrDefault()</h3>
}

<partial name="_TourPartial" />



