﻿@{
    ViewData["Title"] = "Error";
}

<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <br>
        <div class="row">
            <div class="col-10">
                <img src="https://img.freepik.com/free-vector/404-error-background-with-hiker_23-2147763967.jpg?w=740&t=st=1712310432~exp=1712311032~hmac=610b46bdf45e55feef13626aa8bae2e319aa84a6bbcee13a5f3d52c01f92deb5" alt="Alternative image" class="img-thumbnail">
@*              <img src="https://img.freepik.com/free-vector/404-error-with-landscape-concept-illustration_114360-7898.jpg?size=626&ext=jpg&ga=GA1.1.735520172.1711411200&semt=ais" alt="Alternative image" class="img-thumbnail">
                <img src="https://img.freepik.com/free-vector/404-error-with-landscape-concept-illustration_114360-7888.jpg" alt="Alternative image" class="img-thumbnail">
 *@                <p>Oops, better check that URL. Page was not found.</p>
            </div>
            <div class="text-left h4">  Go back to <a asp-controller="Home" asp-action="Index">Home</a> Page</div>
        </div>
    </div>
</div>
<div class="col-3"></div>
