@using FindHikingFellow.Core.Models.Home;
@using FindHikingFellow.Core.Models.Destination;
@model IndexViewModel

@{
    this.ViewData["Title"] = "Welcome";
}

<div class="text-center">
    <h1 class="display-4">Welcome to FindHikingFellow!</h1>
    <h2>Let you find a fellow to share your hiking adventure with</h2>
    <h5>Choose your hiking destination:</h5>
    <div class="row">
        @foreach (var destination in Model.Destinations)
        {
            <div class="col-md-4">
                <div class="card mt-5">
                    <a asp-controller="Tour" asp-action="ToursByDestination" asp-route-destination="@destination.Name">
                        <h5 class="card-title text-center">@destination.Name</h5>
                        <img class="card-img-top" src="@destination.ImageUrl" alt="@destination.Name"/>View tours
                    </a>
                </div>
            </div>
        }
    </div>

    <div class="col-md-4">
        <a asp-controller="Destination" asp-action="All" class="btn btn-primary mt-5">View All Destinations</a>
    </div>
</div>


<div class="row">
    @if (!Model.Tours.Any())
    {
        <h1>Welcome to where you can find your hiking fellows!</h1>
        <p>
            There are no upcoming tours for this destination at the moment.
            If you have planned one you can add it here.
        </p>
        @if (User?.Identity?.IsAuthenticated ?? false)
        {
            <a asp-controller="Tour" asp-action="Create" class="btn btn-primary btn-lg" role="button">Create Tour</a>
        }
    }
</div>

