@using FindHikingFellow.Core.Models.Destination
@model AllDestinationsViewModel

@{
    this.ViewData["Title"] = "All Destinations";
}

<div class="text-center">
    <h2>Let you find a fellow to share your hiking adventure with</h2>
    <h5>Choose your hiking destination:</h5>
    <div class="row">
        @foreach (var destination in Model.AllDestinations)
        {
            <div class="col-md-4">
                <div class="card mt-5">
                    <a asp-controller="Tours" asp-action="GetToursByDestination" asp-route-id="btn btn-primary">
                        <h5 class="card-title text-center">@destination.Name</h5>
                        <img class="card-img-top" src="@destination.ImageUrl" alt="@destination.Name">View tours
                    </a>
                </div>
            </div>
        }
    </div>
</div>
