@using FindHikingFellow.Core.Models.Feature
@model FeatureViewModel

<div class="form-group">
    <label asp-for=@Model.Description>@Model.Description</label>
    <input asp-for="IsChecked" />
    <span asp-validation-for="IsChecked" class="text-danger"></span>
</div>